pytest
pytest-asyncio
pytest-xdist
pytest-cov
pytest-rerunfailures
pytest-bdd
playwright
pytest-playwright
pytest-env
pytest-timeout
pre-commit
types-jsonschema
types-python-dateutil
httpx
tenacity
pydantic
jsonschema
Faker
python-dotenv
pymongo
allure-pytest
pytest-html
ruff
black
mypy